.dropdown--quickSearch{
    top: 0 !important;
    background-color: transparent;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    z-index: 11;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    display: block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    &.is-open{
        opacity: 1;
        visibility: visible;
    }
    .form{
        max-width: 100%;
    }
    .form-input{
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 11px 35px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 50px;
    }
    .form-field{
        position: relative;
        overflow: hidden;
    }
    .search-btn{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        height: auto;
        padding: 0;
        line-height: 0;
        svg{
            fill: transparent;
            stroke: $body-font-color;
            width: 18px;
            height: 18px;            
        }
    }
    .search-cancle{
        @include display-flex(flex);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        overflow: hidden;
        transform: translateY(-50%) translateX(0%);
        padding: 15px 0;
        background-color: $dropdown--quickSearch-backgroundColor;
        -webkit-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        cursor: pointer;
        color: $color-primary;
        &:hover{
            color: $color-secondary;
        }
    }
    .search-wrapper{
        max-width: 560px;
        margin-left: auto;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        padding: 50px 30px 30px;
        background: $dropdown--quickSearch-backgroundColor;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        @include mobile{
            padding: 50px 30px 30px;
        }
        @include mobile-small{
            max-width: 100%;
        }
        .container{
            padding: 0px;
        }
    }


    &.is-open{
        .search-wrapper{
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: all .3s linear;
            transition: all .3s linear;
        }
    }
    .searchloader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: calc(100% - 90px);
        z-index: 999;
        @include display-flex(flex);
        @include justify-content(center);
        @include align-item(center);
        margin-top: 60px;
        .lazyload , .lazyloaded{
            width: 100px;
            height: 100px;
        }
    }
}

.search-ovelary{
    width: 100%;
    height: 100%;
    background: rgba($color-secondary , 0.35);
    cursor: unset!important;
}
.quickSearchMessage{
    font-size: 16px;
    margin-top: 0px;
}
.dropdown--quickSearch .form-input:placeholder-shown + .search-cancle {
    transform: translateY(-50%) translateX(100%);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.quickSearchResults {
    position: absolute;
    z-index: 99;
    width: 100%;
    margin: 30px auto 0;
    left: 0;
    right: 0;
    top: 100%;
    height: 100vh;
    .productGrid{
        padding-top: 0px;
        margin: 0 -12px 20px -12px;
        height: calc(100vh - 210px);
        overflow-y: scroll;
        li{
            width: 50%;            
            margin: 0px !important;
            padding: 0 12px;
        }
    }
    .card-img-container{
        //height: 142px;
        height: 155px;
    }
    .brandrating-section{
        display: none;
    }
    .card-figcaption{
        display: none;
    }
    .card{
        margin-bottom: 33px;
    }
    .card-body {
        .card-text{
            @include flex-wrap(wrap);
        }
        .card-title{
            font-size: 14px;
        }
    }
    .price-section {
        span{
            font-size: 14px;
        }
    }
    .view-all-btn{
        .button{
            width: 100%;
        }
    }
}
.searchactive{
    overflow: hidden;
}

.search-close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        stroke: $color-secondary;
    }
    @include mobile{
        left: 15px;
        right: unset;
        @include display-flex(flex);
        @include align-item(center);
        @include justify-content(center);
    }

    &--desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.desktop-search {
    display: block;
    opacity: 1;
    width: auto;
    height: auto;
    position: unset;
    visibility: visible;
    max-width: 40%;
    width: 100%;
    position: relative;

    @media (max-width: 1024px) {
        display: none;
    }

    .desktop-search-form-wrapper {
        position: relative;

        #headerQuickSearchForm {
            margin-bottom: 0;
    
            .form-field {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
    
                .form-input {
                    padding: 8px 12px;
                    order: 2;
                    border: 1px solid #ddd !important;
                }

                .form-input:placeholder-shown {
                    &+.search-cancle {
                        transform: translateX(-50%);
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                .search-btn {
                    display: flex;
                    align-items: center;
                    height: 42px;
                    order: 3;
                    border: 1px solid rgb(221, 221, 221);
                    border-left: none;
                    padding: 0 10px;
                    color: #fff;
                    background-color: #114b9c;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: #27aae2;
                    }

                    svg {
                        fill: transparent;
                        stroke: #fff;
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
            }
    
            .search-cancle {
                order: 1;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                z-index: 10;
                transform: none;
                padding: 9px 15px 9px 0;
                transition: transform .5s ease-in-out;
                transition: color .3s ease-in-out;
                cursor: pointer;
                color: #114b9c;
                opacity: 1;
                visibility: visible;
    
                &:hover {
                    color: #333;
                }
            }
        }

        .searchloader {
            position: absolute;
            height: 40px;
            width: 40px;
            left: -50px;
            top: 0;
        }
    }

    .quickSearchResults {
        top: 27px;
        left: unset;
        right: 17px; 
        max-width: 800px;
        padding: 55px 30px 30px;
        display: none;
        height: calc(100vh - 125px);
        max-height: 750px;
        min-width: 600px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        &.search-activated {
            background: white;
        }

        .productGrid {
            overflow-y: auto;
            max-height: 600px;
            height: calc(100vh - 270px);
        }

        .search-close {
            cursor: pointer;

            &--desktop {
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}
